<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/login.css">

</head>

<body>
    <main>
        <div class="centered">

            <div class="text-logo ">
                <h1>Journal</h1>
            <span> remember your experiences</span>
            <div class="line">
                <hr/>
                <span>O</span>
                <hr/>
            </div>
        </div>
    </div>

        
        <form action="/reset" method="POST">
            <div class="form-control">
                <label for="email"></label>
                <input 
                    type="email" 
                    name="email" 
                    id="email" 
                    placeholder="Email"
                    >
            </div>

            <button class="btn" type="submit">Reset Password</button>
        </form>

    </main>
<%- include('../includes/end.ejs') %>
