<%- include('../includes/head.ejs') %>
</head>

<body>

    <main>
        <h3>Register  a new day</h3>
       
    </main>
<%- include('../includes/navigation.ejs') %>

<%- include('../includes/end.ejs') %>