<script src=""></script>
<footer>
    <nav class="main_nav">
        <ul class="main-nav-list">
            <li class="main-header__item">
                <a href="/journal/home">Home</a>
            </li>
            <li class="main-header__item">
                    <a href="/journal/profile">Profile</a>
                </li>
                <li class="main-header__item">
                    <a href="/journal/feed">Feed</a>
                </li>
                <li class="main-header__item">
                    <a href="/journal/register/dashboard">write</a>
                </li>
            </ul>
        </nav>
    </footer>
</body>
    </html>