<div class="filter">
    <a  class="btn-filter"href="/journal/home/spiritual"><i
        <% if (pageTitle =='Spiritual') { %>
            style="color: rgb(15, 228, 22) ;"
            <% } %>
        class="fas fa-place-of-worship"><span>

            Spiritual
        </span></i></a>
    <a  class="btn-filter" href="/journal/home/joy"><i
        <% if (pageTitle =='Joy') { %>
            style="color: rgb(189, 228, 15) ;"
            <% } %>
        class="fas fa-laugh-beam"><span>

            Joy
        </span></i></a>
    <a  class="btn-filter" href="/journal/home/normal"> <i
        <% if (pageTitle =='Normal') { %>
            style="color: rgb(225, 16, 16) ;"
            <% } %>
        class="fas fa-smile"><span>
Normal

        </span></i></a>
    <a  class="btn-filter" href="/journal/home/learned">  <i
        <% if (pageTitle =='Learned') { %>
            style="color: rgb(225, 82, 16) ;"
            <% } %>
        class="fas fa-book"><span>
            Learned

        </span></i></a>
    <a  class="btn-filter" href="/journal/home/sad"> <i
        <% if (pageTitle =='Sad') { %>
            style="color: rgb(18, 8, 197) ;"
            <% } %>
        class="fas fa-sad-cry"><span>

                Sad
        </span></i></a>

</div>