<div class="filter">
    <a  class="btn-filter" href="/journal/home/spiritual"><i class="fas fa-place-of-worship"></i></a>
    <a  class="btn-filter" href="/journal/home/joy"><i class="fas fa-laugh-beam"></i></a>
    <a  class="btn-filter" href="/journal/home/normal"> <i class="fas fa-smile"></i></a>
    <a  class="btn-filter" href="/journal/home/learned">  <i class="fas fa-book"></i></a>
    <a  class="btn-filter" href="/journal/home/sad"> <i class="fas fa-sad-cry"></i></a>

</div>