<div class="filter">
    <a  class="btn-filter" href="/journal/home/spiritual"> Spiritual</a>
    <a  class="btn-filter" href="/journal/home/joy"> Joy</a>
    <a  class="btn-filter" href="/journal/home/normal"> normal</a>
    <a  class="btn-filter" href="/journal/home/learned">    learned</a>

</div>