<div class="navigation-icon">
    <nav class="main_nav">
        <ul class="main-nav-list">
            <li class="main-header__item ">
                <a href="/journal/home"><i class="fas fa-home extraLogo">
                <span class="size-text-icon">
                    
                    Home
                </span>
                
                </i></a>
            </li>
            <li class="main-header__item">
                    <a href="/journal/feed"><i class="fas fa-users extraLogo">
                    <span class="size-text-icon">
                        
                        Feed
                    </span>
                    
                    </i></a>
                </li>
                <li class="main-header__item">
                    <a href="/journal/register/"><i class="fas fa-pencil-alt extraLogo">
                        <span class="size-text-icon"  >
                           
                            Journal
                        </span>
                        
                        </i>

                    </a>
                </li>
                <li class="main-header__item">
                        <a href="/journal/profile"><i class="fas fa-user extraLogo">
                        <span class="size-text-icon">
                            
                            Profile
                        </span>
                        
                        </i></a>
                    </li>
            </ul>
        </nav>
    </div>
    