<div class="navigation-icon">
    <nav class="main_nav">
        <ul class="main-nav-list">
            <li class="main-header__item ">
                <a href="/journal/home"><i class="fas fa-home extraLogo"></i></a>
            </li>
            <li class="main-header__item">
                    <a href="/journal/feed"><i class="fas fa-users extraLogo"></i></a>
                </li>
                <li class="main-header__item">
                    <a href="/journal/register/"><i class="fas fa-pencil-alt extraLogo"></i>

                    </a>
                </li>
                <li class="main-header__item">
                        <a href="/journal/profile"><i class="fas fa-user extraLogo"></i></a>
                    </li>
            </ul>
        </nav>
    </div>