<%- include('../includes/head.ejs') %>
</head>

<body>

    <main>
        <%- include('../includes/title.ejs') %>

        <h3>Feed</h3>
       
    </main>
    <%- include('../includes/navigation.ejs') %>

<%- include('../includes/end.ejs') %>