<%- include('../includes/head.ejs') %>
</head>

<body>

    <main>
        <%- include('../includes/title.ejs') %>

        <h3>Profile</h3>
        <h2>Username</h2>
        <img src="https://picsum.photos/536/354" alt="random" width="50" height="50">
        <div class="p-info">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id ducimus, animi in numquam corporis ad perspiciatis architecto, impedit dolores a sint inventore, facere tempora praesentium necessitatibus itaque laboriosam tenetur enim?</div>
            <a href="/edit-profile">Edit</a>     
        
        
        
    </main>
    <%- include('../includes/navigation.ejs') %>

<%- include('../includes/end.ejs') %>