@import url('./reset.css');
@import url('./navigation.css');
@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap');

:root{
    --color-btn-blue : #053CFF;
    --color-filer-icon : #000000;
    --color-btn-red : #FF2C2C;
    --color-text-blue : #1F67F1;
    --color-gray : #6B6B6B;
    --color-background-white : #FAF9F9;
    --color-background-input : #F1EEEE;
    --color-background-journal : rgba(175, 232, 232, 0.152);


    --btn-width:70%;
    --btn-height:36px;
    --input-height:40px;
}
main{
	padding-bottom: 5rem;
}
body{
    background-color: var(--color-background-white);
    width: 100%;
}
.title-journal{
    border-bottom: solid 1px rgba(0, 0, 0, 0.213);
    padding: 0.2rem 0;
    font-family: 'Reenie Beanie';
    font-size: 35px;
    font-weight: 300;
    box-shadow: 0.2px 0.5px 12px var(--color-gray);


}
a{
    text-decoration: none;
}
h1{
    text-align: center;
    font-size: 60px;
}
.centered{
    display: flex;
    justify-content: center;
}
.text-logo h1, title-journal h2{
    font-family: 'Reenie Beanie';
}
.line{
    display: flex;
}
.line  hr{
    width: 40%;
}
.fas > span{
    font-size: 0.8rem;
}